@using MARINEYE.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<MARINEYEUser> SignInManager
@inject UserManager<MARINEYEUser> UserManager

@model IEnumerable<UserModelDTO>
  
<h2>Wszyscy użytkownicy</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Role)</th>
             @if (User.IsInRole(Constants.MainAdminRole))
                {
            <th>Akcje</th>
                } else {
                    <th></th>
                }
                <th>Status opłat</th>
               
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Role</td>
                @if (User.IsInRole(Constants.MainAdminRole))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning btn-sm">Edytuj</a>
                    </td>
                } else {
                    <td></td>
                }

                @if (user.Role == "Klient")
                {
                    <td>
                        <span class="badge bg-info">NIE DOTYCZY</span>
                    </td>
                } else if (user.AllDuesPaid) {
                    <td>
                        <span class="badge bg-success">OK</span>
                    </td>
                } else
                {
                    <td>
                        <span class="badge bg-danger">PROBLEM</span>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
