@model MARINEYE.Models.CharterDueTransactionModel

@{
    ViewData["Title"] = "Cofnij transakcję";
}

<h1>Zamknij transakcję</h1>

<h3>Czy napewno chcesz zamknąc definitywnie transakcję (tej operacji nie można cofnąć)?</h3>
<div>
    <h4>Zamknij transakcję</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BoatCalendarEvent.Boat.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BoatCalendarEvent.Boat.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BoatCalendarEvent.BeginDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BoatCalendarEvent.BeginDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BoatCalendarEvent.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BoatCalendarEvent.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoatCalendarEvent.User.FirstName) / @Html.DisplayNameFor(model => model.BoatCalendarEvent.User.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoatCalendarEvent.User.FirstName) @Html.DisplayFor(model => model.BoatCalendarEvent.User.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
    </dl>
    
    <form asp-action="CloseCharterDue">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="ZAMKNIJ" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
