@model List<ClosedDueTransactionModel>

@{
    ViewData["Title"] = "Listy";
}

<h1>SALDO KLUBOWE W TRANSAKCJACH (ZAMKNIĘTE)</h1>
<p>@ViewData["ClosedClubCash"] PLN </p>
<br>
<br />


@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<h1>Lista zamkniętych transakcji na konto klubu</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FullName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AmountPaid)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PaymentDate)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ClosedDate)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CloserUserName)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.FullName</td>
                <td>@transaction.AmountPaid</td>
                <td>@transaction.PaymentDate</td>
                <td>@transaction.ClosedDate</td>
                <td>@transaction.Description
                <td>@transaction.CloserUserName</td>
            </tr>
        }
    </tbody>
</table>

