@model Tuple<List<ClubDueTransactionModel>, List<CharterDueTransactionModel>>

@{
    ViewData["Title"] = "Listy";
}

<h1>TWOJE SALDO</h1>
<p>@ViewData["Cash"] PLN [<a asp-action="TopUpAccount">+ Zasil konto]</a></p>
<br><br/>

@if (User.IsInRole("Admin") || User.IsInRole("Bosman")) {
    <h1>SALDO KLUBOWE W TRANSAKCJACH (NIE ZAMKNIĘTE)</h1>
    <p>@ViewData["ClubCash"] PLN </p>
    <br>
    <br />
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}


@if (!User.IsInRole("Klient"))
{
    <h1>Lista transakcji klubowiczów na konto klubu</h1>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().User.FirstName) / @Html.DisplayNameFor(model => model.Item1.FirstOrDefault().User.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().ClubDueId)</th>
                <th>@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().ClubDue.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().AmountPaid)</th>
                <th>@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().PaymentDate)</th>
                <th>@Html.DisplayNameFor(model => model.Item1.FirstOrDefault().ClubDue.Description)</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.Item1)
            {
                <tr>
                    <td>@transaction.User.FirstName @transaction.User.LastName</td>
                    <td>@transaction.ClubDueId</td>
                    <td>@transaction.ClubDue.Amount</td>
                    <td>@transaction.AmountPaid</td>
                    <td>@transaction.PaymentDate.ToString("yyyy-MM-dd")</td>
                    <td>@transaction.ClubDue.Description</td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Bosman"))
                    {
                        <td>
                            <a asp-action="RollbackClubDue" asp-route-id="@transaction.Id">Cofnij</a>
                        <a asp-action="CloseClubDue" asp-route-id="@transaction.Id">Zamknij |</a>
                    </td>
                    } else {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@if (!User.IsInRole("Członek"))
{
<h1>Lista transakcji czarterów na konto klubu</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Item2.FirstOrDefault().BoatCalendarEvent.User.FirstName) / @Html.DisplayNameFor(model => model.Item2.FirstOrDefault().BoatCalendarEvent.User.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Item2.FirstOrDefault().BoatCalendarEventId)</th>
            <th>@Html.DisplayNameFor(model => model.Item2.FirstOrDefault().AmountPaid)</th>
            <th>@Html.DisplayNameFor(model => model.Item2.FirstOrDefault().PaymentDate)</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Item2)
        {
            <tr>
                <td>@transaction.BoatCalendarEvent.User.FirstName @transaction.BoatCalendarEvent.User.LastName</td>
                <td>@transaction.BoatCalendarEventId</td>
                <td>@transaction.AmountPaid</td>
                <td>@transaction.PaymentDate</td>
                @if (User.IsInRole("Admin") || User.IsInRole("Bosman"))
                {
                    <td>
                        <a asp-action="RollbackCharterDue" asp-route-id="@transaction.Id">Cofnij |</a>
                    <a asp-action="CloseCharterDue" asp-route-id="@transaction.Id">Zamknij |</a>
                </td>
                } else {
                    <td></td>
                }
            </tr>
        }
    </tbody>
</table>
}