@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Club Due ID</th>
            <th>Due Amount</th>
            <th>Amount Paid</th>
            <th>Payment Date</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.UserFirstName @transaction.UserLastName</td>
                <td>@transaction.ClubDueId</td>
                <td>@transaction.ClubDueAmount</td>
                <td>@transaction.AmountPaid</td>
                <td>@transaction.PaymentDate?.ToString("yyyy-MM-dd")</td>
                <td>@transaction.ClubDueDescription</td>
                <td>
                    <a asp-action="Rollback" asp-route-id="@transaction.Id">Cofnij</a>
                </td>
            </tr>
        }
    </tbody>
</table>
