@model Tuple<List<ClubDueTransactionModel>, List<CharterDueTransactionModel>>

@{
    ViewData["Title"] = "Listy";
}

<h1>TWOJE SALDO</h1>
<p>@ViewData["Cash"] PLN [<a asp-action="TopUpAccount">+ Zasil konto]</a></p>
<br><br/>

@if (User.IsInRole("Admin") || User.IsInRole("Boatswain")) {
<h1>SALDO KLUBOWE W TRANSAKCJACH (NIE ZAMKNIĘTE)</h1>
<p>@ViewData["ClubCash"] PLN </p>
<br>
<br />
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}


@if (!User.IsInRole("Extern"))
{
<h1>Lista transakcji klubowiczów na konto klubu</h1>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Club Due ID</th>
            <th>Due Amount</th>
            <th>Amount Paid</th>
            <th>Payment Date</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Item1)
        {
            <tr>
                <td>@transaction.User.FirstName @transaction.User.LastName</td>
                <td>@transaction.ClubDueId</td>
                <td>@transaction.ClubDue.Amount</td>
                <td>@transaction.AmountPaid</td>
                <td>@transaction.PaymentDate.ToString("yyyy-MM-dd")</td>
                <td>@transaction.ClubDue.Description</td>
                <td>
                    <a asp-action="RollbackClubDue" asp-route-id="@transaction.Id">Cofnij</a>
                    <a asp-action="CloseClubDue" asp-route-id="@transaction.Id">Zamknij |</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}

<h1>Lista transakcji czarterów na konto klubu</h1>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Amount Paid</th>
            <th>Payment Date</th>
            <th>Event</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Item2)
        {
            <tr>
                <td>@transaction.BoatCalendarEvent.User.FirstName @transaction.BoatCalendarEvent.User.LastName</td>
                <td>@transaction.AmountPaid</td>
                <td>@transaction.PaymentDate</td>
                <td>@transaction.BoatCalendarEventId</td>
                <td>
                    <a asp-action="RollbackCharterDue" asp-route-id="@transaction.Id">Cofnij |</a>
                    <a asp-action="CloseCharterDue" asp-route-id="@transaction.Id">Zamknij |</a>
                </td>
            </tr>
        }
    </tbody>
</table>
