@model MARINEYE.Models.ClubDueTransactionModel

@{
    ViewData["Title"] = "Cofnij transakcję";
}

<h1>Cofnij transakcję</h1>

<h3>Czy napewno chcesz cofnąć transakcję?</h3>
<div>
    <h4>Cofnij transakcję</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubDue.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubDue.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubDue.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
    </dl>
    
    <form asp-action="RollbackClubDue">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Cofnij" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
