@model MARINEYE.Models.BoatCalendarEventModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BoatCalendarEventModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boat.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventState)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
